/**
*	Pushes google api for 
* 	text on screen
*/

div#container{          
        overflow:hidden;
        padding: 20px;
		height: 100%;
		width: 100%;
		display : table; 
		margin-top : 50px; 
		border-spacing : 20px;
		
		
}


.walk, p{
        color:#ffffff;
}

/**
*  
* 
*/

div#map-details{        
        color: white;         
        width: 50%;
		margin-right: auto;
		margin-left: auto;
		
        }
/*
.main{
        margin-top: 10px;
        font-size: 18px;
        background: white;
        text-align: center;
}*/


/*
*	Moves Google API to
*	centre of page and gives
*	it border
*/
#map-canvas {

    	max-height: 50%;
    	border:2px solid #000;
		position: absolute;
		margin-right: auto;
		margin-left: auto;
		
} 



/*REFERENCE http://stackoverflow.com/questions/7769765/why-is-a-scroll-bar-coming-out-in-my-maps-infowindow-in-chrome*/     
html, body , #map-canvas {
		height: 50%;
		margin: 0px;
		padding: 0px;
 }

.gm-style-iw{ 
		overflow: hidden !important; 
}

#map-canvas {
        width:40%;
		height: 40%;
                
}

#imagedisplay {
      	width: 530px;
}
#thumb {
   	    padding: 5px;
    	float: left;
}


#sideBarleft{

	display: table-cell;
	font-family: Arial, Geneva, sans-serif;
	font-size: 16px;
	color: #2F4F4F;
	position: absolute;
	height: 50%;
	width: 25%; 	
  	background-color:#53595F;
  	border:1px solid white;
  	opacity:0.6;
  	filter:alpha(opacity=60);
  	overflow-y: scroll;
	vertical-align: middle;

}

#sideBarRight{

	text-align: center;
	display: table-cell;
	font-family: Arial, Geneva, sans-serif;
	font-size: 16px;
	color: #2F4F4F;
	right: 10px;
	position: absolute;
	overflow-y: scroll;
	height: 50%;
	width: 25%; 
  	background-color:#53595F;
  	border:1px solid white;
  	opacity:0.6;
  	filter:alpha(opacity=60);
	vertical-align: middle;
}