html, body {
	background-color:#000000;
	height: 100%;
    width: 100%;
	}


header{
	text-align: right;
	font-family: Arial, Geneva, sans-serif;
	font-size: 40px;
	color: white; 
	/*background-image: url('Aber.jpg');*/
	margin: 20px;
	padding: 30px;	
	border-bottom: 2px dashed #33CC66;
}

div#container{    
	
	overflow:hidden;
	padding: 20px;
	

}
.walk, p{
	color:#ffffff;
}

div#map-details{    
	padding: 20px;
	margin: 20px;
	color: white;	
	text-align: left; 
	width: 500px;
	}


.main{
	margin-top: 10px;
	font-size: 18px;
	background: white;
	text-align: center;
}

nav {
    font-size: 16px;
    font-family:  Arial, Geneva, sans-serif;
    text-shadow: 3px 2px 3px grey;   
}

nav ul {

	font-size: 22px;
    height: auto;
    padding:  8px 10px;
    margin: 0px;
    list-style-type: none;
    }

nav li { 
	padding: 5px; 
 	margin: 0 0.15em;
}

nav a {
	display: block;
    font-size: 80%;
	display: block;
	border-bottom: 1px dashed #33CC66;
	padding: 5px 0px 2px 4px;
	text-decoration: none;
	color: white;
	width:160px;
}

nav a:hover {
    color: green;
    /*background-color: black;*/
}

#map-canvas {
    width:50%;
    max-height: 50%;
    border:2px solid #000;
    overflow: hidden; 
	position:absolute;
	right: 300px;	
	margin: 100px;
} 
/*REFERENCE http://stackoverflow.com/questions/7769765/why-is-a-scroll-bar-coming-out-in-my-maps-infowindow-in-chrome*/     
html, body , #map-canvas {
        height: 85%;
        margin: 0px;
        padding: 0px;
       .gm-style-iw{ overflow: hidden; !important;};
}
#map-canvas {
               width:50%;
                
}
#imagedisplay {
      width: 530px;
}
#thumb {
      padding: 5px;
      float: left;
}
