/**
*	Pushes google api for 
* 	text on screen
*/

div#container{          
       
		height: auto;
		width: 100%;
		display : table; 
		margin-top : 50px; 
		border-spacing:5px;
		
		
}


.walk, p{
        color:#ffffff;
}

/**
*  
* 
*/

div#map-details{    
		overflow:hidden;    
        color: white;         
        width: 50%;
		margin-right: auto;
		margin-left: auto;
		
        }

/*
*	Moves Google API to
*	centre of page and gives
*	it border
*/


/*REFERENCE http://stackoverflow.com/questions/7769765/why-is-a-scroll-bar-coming-out-in-my-maps-infowindow-in-chrome*/     


.gm-style-iw{ 
		overflow: hidden !important; 
}



#imagedisplay {
      	width: 530px;
}
#thumb {
   	    padding: 5px;
    	float: left;
}

#map-canvas {
        width:45%;
        display:table-cell; 
		height:400px;
    	border:2px solid #000;

		margin-right: 2%;
		margin-left: 2%;		
}

#sideBarleft{

	display: table-cell;
	font-family: Arial, Geneva, sans-serif;
	font-size: 16px;
	color: white;
	
	width: 25%; 	
  	background-color:#53595F;
  	border:1px solid white;
  	opacity:0.6;
  	filter:alpha(opacity=60);
  	overflow-y: scroll;

}

#sideBarRight{

	text-align: center;
	display: table-cell;
	font-family: Arial, Geneva, sans-serif;
	font-size: 16px;
	color: white;
	overflow-y: scroll;
	width: 20%; 
  	background-color:#53595F;
  	border:1px solid white;
  	opacity:0.6;
  	filter:alpha(opacity=60);
	vertical-align: middle;
}