      
div#content{
padding: 20px;
        margin: 20px;
        color:  white;        
        text-align: left; 
        width: 500px;
}

div#container {       
        
        margin: 20px;
        height:auto;
        text-align: left;
        float: left;
        width: 500px;
        background-color:#53595F;
  		border:1px solid white;
  		font-size: 20px;
        font: red;      
        }        
        
#container a:link{
	color:white;
	text-decoration:bold;
}
    #container a:visited {
	color: #C8C9C8;
}
div#allwalks {
float: left;
}   
 div#box{
        background-color:black;
  		height:auto;
  		width:90%;
  		border:1px solid white;
  		color: white;
  		text-transform:uppercase;
  		font-size: 15px;
  		position:relative;
  		border-top: 50px;
  		margin-left:10px;
    }